# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Hardhat
smart-contracts/cache/
smart-contracts/artifacts/
smart-contracts/typechain-types/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

stitch_farm_traceability_system/*
docs/HUONG_DAN_DEMO.md
